/* ==========================================================================
   Color Variables
   ========================================================================== */

//Colors
$gray : #808080;
$gray-light : #f9f9f9;
$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #fff;
$black : #000;
$dim : rgba(0,0,0,0.5);
$error : #f00;
$valid : #089e00;
$warning : #fff664;
$information : #000db5;

$color-primary-1: #f26522;
$color-primary-2: #e54e28;
$color-primary-3: #fff76f;

$color-secondary-1: #ffb999;
$color-secondary-2: #f67c42;
