&lt;ul class=&quot;how-it-works&quot;&gt;
  &lt;li class=&quot;stepbox__wrapper&quot;&gt;{{&gt; molecules-stepbox }}&lt;/li&gt;
  &lt;li class=&quot;stepbox__wrapper&quot;&gt;{{&gt; molecules-stepbox }}&lt;/li&gt;
  &lt;li class=&quot;stepbox__wrapper&quot;&gt;{{&gt; molecules-stepbox }}&lt;/li&gt;
&lt;/ul&gt;
