/* ==========================================================================
   Custom Mixins
   ========================================================================== */

@mixin box-sizing( $type: border-box ) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  -ms-box-sizing: $type;
  box-sizing: $type;
}

// Sass 3.4
@mixin parent-find-replace($old-context, $new-context) {// http://www.phase2technology.com/blog/everything-you-need-to-know-about-sass-3-4/
  @at-root #{selector-replace(&, $old-context, $new-context)} {
    @content;
  }
}

@mixin grid-debugger($show-classes: false) {
  //debugger
  counter-reset: grid-item;
  >* {
    outline: dotted 1px red;
    position: relative;
    &:hover {
      &:before,
      &:after {
        background: hsla(0,0%,0%,0.0);
        font-size: 1px;
      }
    }
    &:before {
      content: counter(grid-item);
      counter-increment: grid-item;
      color: white;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: hsla(0, 0%, 0%, 0.5);
      padding-top: 15px;
    }
    @if $show-classes == true {

      &:after {
        content: "class: " attr(class);
        position: absolute;
        top: 70px;
        font-size: 18px;
        color: white;
        text-align: center;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

  }
}
.debug-grid {
  @include grid-debugger();
}
.adjust-grid {
  &__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
  }
  &__menu {
    >li {
      cursor: pointer;
      &:active {
        text-decoration: underline;
      }
    }
  }
}