
.btn-scroll-down, .btn-scroll-up, .btn-email, .btn-close-2, .btn-close, .btn-search, .btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1em;
  text-decoration: none !important;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
}

.btn-1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: $color-primary-1;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  transition-duration: 250ms;
}

.btn-1 .btn-label {
  height: 50px;
  line-height: 50px;
  padding: 0 23px 0 16px;
  background: url(../images/btn/arrow-btn_1.png) no-repeat right 19px;
  border-right: 12px solid transparent;
}

.btn-label {
  display: block;
  position: relative;
  text-decoration: none !important;
  height: 1em;
  line-height: 1em;
}

.btn-1_2 {
  background-color: $color-primary-2;
}

.btn-2 .btn-label {
  padding-right: 15px;
  background: url(../images/btn/arrow-btn_2.png) no-repeat right 2px;
}

a.btn-2, .btn-2 {
  color: #f26522;
}

a.btn-scroll-down, a.btn-scroll-up, a.btn-email, a.btn-close-2, a.btn-close, a.btn-search, a.btn-1, a.btn-2, a.btn-3, a.btn-4, a.btn-5, a.btn {
  padding: 1px 0;
}







