.mod-banner {
  background-color: #313131;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 60px 0;
  overflow: hidden;

  &:after {
    content: "";
  }

  @include breakpoint($bp--medium-up) {

  }

  @include breakpoint($bp--large-up) {

  }
}

.mod-banner_2 {
  background-color: #000;
  background-image:url(http://rasskull.github.io/sandbox1/images/homepage-bg.jpg);
  background-size: 150% auto;

  @include breakpoint($bp--medium-up) {
    background-size: 130% auto;
  }

  @include breakpoint($bp--xxlarge-up) {
    background-size: 120% auto;
  }
}
