.stat-bar {
  background-color: $color-primary-1;
  padding: 40px 0;
  @extend .cf;

  @include layout-at(('grid': 4, 'gutter': 1/10), $bp--large-up) {

    .stat-bar__col {
      &:nth-of-type(4n+1) { @include grid-span(1, 1);  }
      &:nth-of-type(4n+2) { @include grid-span(1, 2); }
      &:nth-of-type(4n+3) { @include grid-span(1, 3); }
      &:nth-of-type(4n+4) { @include grid-span(1, 4); border-right: none; }
    }
  }

  @include breakpoint($bp--large-up) {
    margin: 0 -20px;
  }
}

.stat-bar__col {
  padding: 10px;
  height: 100%;
  border-bottom: 1px solid $color-secondary-2;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  -ms-box-sizing: border-box;
//  box-sizing: border-box;
  
  &:last-child {
    border-bottom: none;
  }

  @include breakpoint($bp--large-up) {
    padding: 0 20px 0 0;
    border-right: 1px solid $color-secondary-2;
    border-bottom: none;
    //margin-right: -2px;
  }
}

