.stepbox {
  background: #fff;
  padding: 15px 32px 15px 32px;
  position: relative;
  margin: 0 0 20px 0;

  &:after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 45.5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 18px 0 18px;
    border-color: #ffffff transparent transparent transparent;

    @include breakpoint($bp--medium-up) {
      left: 48%;
    }

    @include breakpoint($bp--large-up) {
      bottom: auto;
      left: auto;
      right: -17px;
      top: 43%;
      border-width: 18px 0 18px 17px;
      border-color: transparent transparent transparent #ffffff;
    }
  }

  @include breakpoint($bp--large-up) {
    margin: 0 10px;
    min-height: 240px;
  }
}

.stepbox__wrapper {

  @include breakpoint($bp--large-up) {
    float: left;
    width: 33.3%;
  }

  &:last-child {
    .stepbox {

      &:after {
        border: none;
      }
    }
  }
}

.stepbox p {
  color: #808080;
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
}

h4, .stepbox h4 a {
  color: #f26522;
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
  text-decoration: none;
}