&lt;div class=&quot;mod-banner mod-banner_2&quot;&gt;
  &lt;div class=&quot;wrapper-inner-2&quot;&gt;
    &lt;h3 class=&quot;h-7&quot; style=&quot;margin:0 0 5px&quot;&gt;Why Ride?&lt;/h3&gt;
    &lt;p class=&quot;p-5&quot; style=&quot;margin:0 0 20px&quot;&gt;
      &lt;span class=&quot;tc-1&quot;&gt;Approximately 50% of people with cancer are battling a rare cancer.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
      Rare cancers include brain, pancreatic, stomach, ovarian, and thyroid cancers; leukemia and lymphoma; all pediatric cancers; and many others. Memorial Sloan Kettering Cancer Center treats more than 400 subtypes of cancer each year, and every dollar raised by Cycle for Survival goes directly to lifesaving research at the institution.
    &lt;/p&gt;
    &lt;p class=&quot;p-5&quot; style=&quot;margin:0 0 20px;&quot;&gt;
      Your support is helping patients worldwide by ensuring that rare cancers get the research funding they need and deserve.
    &lt;/p&gt;
    &lt;a href=&quot;PageServer?pagename=cycle_about_cfs&quot; class=&quot;btn-1&quot;&gt;&lt;span class=&quot;btn-label&quot;&gt;Learn more about rare cancers&lt;/span&gt;&lt;/a&gt;

    &lt;h3 class=&quot;h-2 tc-5 bss-mt60&quot;&gt;How it works&lt;/h3&gt;

    {{&gt; organisms-how-it-works }}

  &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-stat-bar }}